/* Estilização Universal */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  :root {
    --primary: #000000;
    --secondary: #f5f3f3;
    --texto: #575757;
  } 
  
  header {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    z-index: 10;
  } 
  
  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6%;
  } 
  
  .logo{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo img {
    width: 100px;
    height: auto;
  }
  
  .nav_links{
    display: flex;
    list-style: none;
    gap: 25px;
  }
  
  .nav_links a {
    text-decoration: none;
    color: var(--texto);
    font-weight: 500;
    transition: color 0.3s ease;
  } 
  
  .nav_links a:hover {
    color: var(--primary);
    transform: translateY(-5px);
  } 
  
  .animado span {
    display: inline-block;
    transition: transform 0.3s ease;
  }  
  
  .animado span:hover {
    transform: translateY(-5px);
    color: #7d7d7d;
  }  
  
  footer{
    background-color: var(--secondary);
    color: black;
    text-align: center;
    padding: 1.5rem 0;
    font-size: 0.9rem;
    margin-top: 3rem;
  }
  
  /* Fim da Estilização Universal */
  
  .contato {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    padding: 4rem 6%;
    background-color: var(--secondary);
    min-height: 80vh;
    transition: transform 1s ease;
  }
  
  .contato:hover {
    transform: translateY(-5px);
  }
  
  .textoContato {
    max-width: 450px;
  }
  
  .textoContato h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: var(--primary);
  }
  
  .textoContato p {
    color: var(--texto);
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .contatoIMG {
    width: 420px;
    border-radius: 15px;
    object-fit: cover;
    transition: 0.3s ease;
  }
  
  .contatoIMG:hover {
    transform: translateY(-5px);
    filter: brightness(0.7);
  }
  
  footer {
    background-color: var(--secondary);
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 3rem;
  }
  
.secaoIMG{
    transition: filter 0.6s ease, transform 1s ease;
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.secaoIMG:hover{
    transform: translateY(-5px);
    filter: brightness(0.6);
}